<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Find Resto adalah aplikasi pencarian restoran yang memudahkan pengguna untuk mencari restoran terdekat."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Resto | Best Place to Find Favorite Resto</title>
    <link
      rel="shortcut icon"
      href="./images/favicon.webp"
      type="image/x-icon"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#11162c" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="preconnect" href="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous" as="font">
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="./images/heros/hero-image_2.webp"
      type="image/webp"
    />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip To Main Content</a>
    <header>
      <div class="logo">
        <h1 class="logo-website">
          <a href="#">Find <span>Resto</span></a>
        </h1>
        <button id="hamburger" aria-label="menu">☰</button>
      </div>
      <nav id="drawer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#/favorite">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/ramdanielarya/"
              target="_blank"
              rel="noopener"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>Find Resto &copy; 2023</p>
    </footer>
  </body>
</html>
